{% extends 'layouts/default.njk' %}
{% block body %}
  <div class="wrapper">
    {% include 'partials/header.njk' %}
    <section id="main">
      <div class="container">
        <header>
          <h2>{{ project.title }}</h2>
          <div class="addon">
            <a href="/app/projects/{{ project.id }}/destroy" class="btn btn-danger">Delete project</a>
          </div>
        </header>
        <section id="content">
          <nav>
            <div class="sessions">
            {% for section in sections %}
              <a href="/app/projects/{{ project.id }}/sections/{{section.id}}">{{ section.title }}</a>
            {% endfor %}
            </div>
            <form action="/app/projects/{{ project.id }}/sections/create" method="post">
              <input type="text" name="title" placeholder="New section" maxlength="30">
              <button type="submit" class="btn"><img src="/img/plus.svg"></button>
            </form>
          </nav>
          <article>
            {% if activeSection %}
              <div class="project-header">
                <h1>{{ activeSection.title }}</h1>
                <a href="/app/projects/{{ project.id }}/sections/{{activeSection.id}}/edit" id="edit">Edit section</a>
                <form action="/app/projects/{{ project.id }}/sections/{{activeSection.id}}?_method=delete" method="POST">
                  <button type="submit" class="btnRemoveSection">Delete section</button>
                </form>
              </div>
              <p>{{ activeSection.content }}</p>
            {% endif %}
          </article>
        </section>
      </div>
    </section>
  </div>
{% endblock %}
